<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Mskyrk" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# Use the same logo for all icons %>
    <%= favicon_link_tag 'kyrk-logo.png', rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag 'kyrk-logo.png', rel: 'apple-touch-icon' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <div class="logo-container">
        <%= link_to root_path do %>
          <%= image_tag asset_path('kyrk-logo.png'), alt: "kyrk-logo.png", class: "logo" %>
        <% end %>
      </div>
      <ul>
        <li><%= link_to "Hem", root_path %></li>
        <li><%= link_to "Om mig", about_path %></li>
        <li><%= link_to "Projekt", projects_path %></li>
        <li><%= link_to "Kontakt", contact_path %></li>
      </ul>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
